**.bak
config/.vscode
config/Beeper
config/Code
config/chromium
config/dconf/user
config/discord
config/go/telemetry
config/gtk-3.0/bookmarks
config/newsboat/urls
config/nvim/lazy-lock.json
config/obsidian/bookmarks.json
config/obsidian/plugins/**
config/obsidian/themes/**
config/obsidian/workspace.json
config/obsidian/workspaces.json
config/pulse/cookie
config/zsh/.zcompdump
