*.env
**.bak
**.DS_Store
config/.vscode
config/Beeper
config/chromium
config/Code
config/dconf/user
config/discord
config/go/telemetry
config/gtk-3.0/bookmarks
config/mpdscribble/password
config/newsboat/urls
config/nvim/lazy-lock.json
config/obsidian/bookmarks.json
config/obsidian/plugins/**
config/obsidian/themes/**
config/obsidian/workspace.json
config/obsidian/workspaces.json
config/pulse/cookie
config/zsh/.zcompdump
hosts/pina/my-ente
config/obsidian/workspace-mobile.json
config/zed/prompts
config/obsidian/Vaults/wiki/.obsidian/workspace-mobile.json
config/obsidian/Vaults/wiki/.obsidian/workspace.json
config/obsidian/Vaults/wiki/.obsidian/plugins/calendar/main.js
config/obsidian/Vaults/wiki/.obsidian/plugins/lava/main.js
config/obsidian/Vaults/wiki/.obsidian/plugins/obsidian-linter/main.js
config/obsidian/Vaults/wiki/.obsidian/plugins/obsidian-linter/styles.css
config/obsidian/Vaults/wiki/.obsidian/plugins/obsidian-vimrc-support/main.js
config/obsidian/Vaults/wiki/.obsidian/plugins/remotely-save/main.js
config/obsidian/Vaults/wiki/.obsidian/themes/Flexoki Warm/theme.css
config/obsidian/Vaults/wiki/.obsidian/plugins/remotely-save/styles.css
config/obsidian/Vaults/wiki/.obsidian/plugins/obsidian-hider/styles.css
config/obsidian/Vaults/wiki/.obsidian/plugins/obsidian-hider/main.js
config/obsidian/Vaults/wiki/.obsidian/plugins/obsidian-doubleshift/main.js
config/obsidian/Vaults/wiki/.obsidian/plugins/maps/styles.css
config/obsidian/Vaults/wiki/.obsidian/plugins/maps/main.js
config/zsh/.zcompdump*