* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-size: 12px;
  min-height: 12px;
}

#window {
  font-family: "JetBrains Mono";
  margin-top: 5px;
}

#tray,
#clock,
#custom-media,
#battery,
#network {
  padding: 0 5px;
}
