* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-size: 10px;
  min-height: 0;
}

window#waybar {
  color: white;
  background: transparent;
}

#window {
  font-family: "JetBrains Mono";
  margin-top: 5px;
}

#tray,
#clock,
#custom-media,
#battery,
#network {
  padding: 0 5px;
}

