[Unit]
PartOf=niri.service
After=niri.service
Requisite=niri.service

[Service]
ExecStart=/usr/bin/swaybg -i /home/polarhive/.local/share/backgrounds/birds.png -m fill
Restart=on-failure

[Install]
WantedBy=niri.service
