[Desktop Entry]
Version=1.0
Name=Element
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=firefox --file-forwarding org.mozilla.firefox --kiosk "https://app.element.io/#/home" @@u %u @@
Terminal=false
Type=Application
StartupNotify=true
