[Desktop Entry]
Type=Application
Version=1.0
Name=htop
GenericName=Process Viewer
Comment=Show System Processes
Icon=htop
Exec=footclient -e htop
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
